@model IEnumerable<AutoShowWebApplication.Service>

@{
    ViewData["Title"] = "Сервіс";
}

<h1>Послуги сервісу</h1>

<p>
    <a asp-action="Create">Створити нову послугу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfService)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfService)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
