@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<AutoShowWebApplication.Order>

@{
    ViewData["Title"] = "Замовлення";
}

<h1>Список замовлень</h1>

<p>
    <a asp-action="CreateOrder">Створити нове замовлення</a>

</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderType.OrderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
