@model IEnumerable<AutoShowWebApplication.Drife>
    <div style="padding:100px 0" class="container">

        @{
            ViewData["Title"] = "Типи приводів";
        }

        <h1>Список типів приводу</h1>
        @if (User.IsInRole("admin"))
        {
            <p>
                <a asp-action="Create">Додати тип приводу</a>
            </p>}



        <div>
            <h3>Оберіть exel-файл для заватаження</h3>
            @using (Html.BeginForm("Import", "Drifes", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
            {
                <div>
                    Завантажте Excel-файл:
                    <input type="file" name="fileExcel" id="fileExcel" />
                    <div>
                        <input type="submit" value="Завантажити" />
                    </div>
                </div>
            }
        </div>

        <div>
            <h3>Завантаження інформації в файл</h3>
            <a asp-action="Export">Завантаження</a>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DriveType)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriveType)
                        </td>
                        @if (User.IsInRole("admin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.DriveId">Редагувати</a> |
                                <a asp-action="Details" asp-route-id="@item.DriveId">Деталі</a> |
                                <a asp-action="Delete" asp-route-id="@item.DriveId">Видалити</a>
                            </td>
                        }
                        @if (!User.IsInRole("admin"))
                        {
                            <td>

                                <a asp-action="Details" asp-route-id="@item.DriveId">Деталі</a>

                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <div class="container">
            <div id="chart1"></div>
        </div>
        @section scripts{
            <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script>
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {

                    $.get('/api/Values/JsonData', function (JsonData) {
                        data = google.visualization.arrayToDataTable(JsonData, false);
                        var option = {
                            title: "Співвідношення кількості автомобілів та типів приводу",
                            width: 500,
                            height: 400
                        };
                        chart = new google.visualization.PieChart(document.getElementById('chart1'));
                        chart.draw(data, option);
                    })
                }
            </script>
        }
</div>